<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="11028" visible="!IsEmpty(Window(Home).Property(spotify.supportsplayback))">
        <setting id="username" type="text" label="11001" default=""/>
        <setting id="password" type="text" option="hidden" label="11002" default=""/>
	</category>
    
    <category label="11054" visible="!IsEmpty(Window(Home).Property(spotify.supportsplayback))">
        <setting id="connect_player" type="bool" label="11036" default="true" visible="!IsEmpty(Window(Home).Property(spotify.supportsplayback))"/>
        <setting type="sep" />
        <setting type="lsep" label="11059" />
    </category>
    
    <category label="11055">
        <setting id="appendArtistToTitle" type="bool" label="11030" default="false"/>
	</category>

    <category label="11069">
        <setting id="enable_memory_cache" type="bool" label="11070" default="true"/>
        <setting type="lsep" label="11071" />
        <setting type="sep" />
        <setting id="precache_user_library" type="bool" label="11072" default="true"/>
        <setting type="lsep" label="11073" />
        <setting type="sep" />
    </category>
    
</settings>
